html {
  background: #f9f9f9;
}

@media only screen and (min-width: 768px) {
  .narrow  {
    width: 80ch;
    margin: 0 auto;
  }
  .card {
    height: 400px;
  }
}

.App {
  //text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-body {
  padding: 1em;
}

.App-body.white {
  background: white;
}




.App-link {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background: transparent;
  color: #488c90;
  border: none;
  padding: 1em;
  cursor: pointer;
}

input, textarea {
  display: block;
  background: #efefef;
  border: 0;
  padding: .8em;
  width: 90%;
}

textarea {
  margin-bottom: 1em;
}


.center {
  display: block;
  margin: 0 auto;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

.is-centered {
  text-align: center;
}

.content p {
  //text-align: justify;
}

.muted {
  color: grey;
}
